html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hero-section {
    min-height: 85vh;
    background: linear-gradient( rgba(0,0,0,0.75), rgba(0,0,0,0.75) ), url('/images/gym-hero.jpg') center/cover no-repeat;
}

    .hero-section h1 {
        letter-spacing: 3px;
    }

.section-dark {
    background-color: #111;
    color: #fff;
}

    .section-dark h2 span {
        color: #dc3545;
    }
