@{
    ViewData["Title"] = "Admin Paneli";
}

<h1 class="mb-4">Admin Paneli</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <h5 class="card-title">Salonları Yönet</h5>
                <a href="/Salonlar/Index" class="btn btn-primary">Salonları Yönet</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <h5 class="card-title
