@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneli</h2>
<ul>
    <li><a href="/Salonlar">Salonları Yönet</a></li>
    <li><a href="#">Eğitmenleri Yönet (yakında)</a></li>
    <li><a href="#">Üyeleri Yönet (yakında)</a></li>
    <li><a href="#">Randevuları Yönet (yakında)</a></li>
</ul>
